@import 'base/listas';
@import 'base/maps';
@import 'base/tipografias';
@import 'base/variables';
@import 'base/extend';
@import 'base/mixin';

@import 'components/header';
@import 'components/footer';
@import 'components/encabezados';
@import 'components/bodyinicio';
@import 'components/tienda';

@import 'components/contacto';
@import 'components/sobremi';

@import 'components/infancia';


@import 'base/mediaquery';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}