//sobre mi
.encabezadoDos {
    margin: map-get($encabezado, margin);
    padding: map-get($encabezado, padding);
    color: $color-p;
    font-size: map-get($encabezado, font-size);
}

//contacto
.encabezadoTres {
    grid-column-start: 1;
    grid-row: 1/1;
    margin: map-get($encabezado, margin);
    padding: map-get($encabezado, padding);
    color: $color-p;
    font-size: map-get($encabezado, font-size);
    }

//inicio
 .inicioEncabezado {
     font-size: 15px;
     color: $text-color;
 }