$tamañoImagen: (
    padding: 20px,
    width: 300px
    );

$encabezado: (
    margin: 20px,
    padding: 20px,
    color: black,
    font-size: 60px
);

$subencabezado: (
    margin-left: 10px,
    padding: 5px,
    color: black,
    font-size: 20px
);